.screen {
    border: 1px solid black;
    text-align: center;
}
.screen > .text.sans-serif {
    font-family: ComputerModernSansSerif, sans-serif;
}

.screen > .text.serif {
    font-family: ComputerModernSerif, serif;
}