.MainScreen {
  display: flex;
  background-color: black;
  height: 100%;
}
.MainScreen .config-panel {
  display: flex;
  width: 50%;
  flex-direction: column;
  height: 100%;
}

.MainScreen .config-panel.top, .MainScreen .config-panel.bottom {
  display: flex;
  height: 50%;
  width: 100%;
}

.screen-size-label {
  text-transform: uppercase;
  text-align: right;
}
.screen.preview {
  display: flex;
  justify-content: center;
  align-items: center;
}