.MainScreen {
  display: flex;
  background-color: black;
  height: 100%;
  overflow: hidden;
}
.screen-size-label {
  text-transform: uppercase;
  text-align: right;
}
.screen.preview {
  display: flex;
  justify-content: center;
  align-items: center;
}
.range-slider {
  position: absolute;
  bottom: 10px;
}
.block-button-container {
  display: flex;
  width: 100%;
}
.block-button-container > * {

}
.block-button-container > button {
  width: 100%;
}
.sample-select {
  height: 100%;
  width: 4em;
}
