.MainScreen {
  display: flex;

}
.MainScreen .config-panel {
  display: flex;
  width: 50%;
  flex-direction: column;
  height: 100%;
}
.screen-size-label {
  text-transform: uppercase;
  text-align: right;
}
.screen.preview {
  display: flex;
  justify-content: center;
  align-items: center;
}